.animas{
    position: absolute;
    transform: translateX(0);
    will-change: transform;
    transition: all 1.2s ease-out;
    opacity: 1;
    z-index: 2;
}
.animas:hover{
  -webkit-transition: all 2000ms ease-in;
    -webkit-transform: scale(0.9);
    -webkit-transform: scale(1.1);
    -ms-transition: all 2000ms ease-in;
    -ms-transform: scale(0.9);   
    -ms-transform: scale(1.1);   
    -moz-transition: all 2000ms ease-in;
    -moz-transform: scale(0.9);
    -moz-transform: scale(1.1);
    transition: all 2000ms ease-in;
    transform: scale(0.9);
    transform: scale(1.1);
}
.imagen{
	border: none;
	height: auto;
	background-color: #F8781C;
	
}
.imagen_secundo{
	border: none;
	height: auto;
	background-image: url('../img/fundo-rosa.png');
}
.animation_image{
	background-image: url('../img/triangulo-roxo.png');
}
a:link 
{ 
 text-decoration:none; 
} 
/***** controle de imagens***/
.carousel-control-prev-icon{
  background-image: url(../img/110.png)!important;
  background-size: 0px;
}
.carousel-control-next-icon{
  background-image: url(../img/110.png)!important;
  background-size: 0px;
}